{%extends 'base.html'%}
{%block content%}
    <h1>About this project</h1>

    <h2>Introduction</h2>
    <p>
        this application is design to provide a simple redirct and shorten the service
        for user who need to costmize Long ,unstructure link as the way they want
    </p>


    <h2> Instruction</h2>
    <p>
        to use this application , you need to register first.
        After you finish register, you can add the link base on your own preference
        <br>
        <h4 class="bg-danger">

            you need to have full url
        </h4>
            <p class="bg-success">https://www.google.com <span class="glyphicon glyphicon-ok-sign"></span></p>
            <p class="bg-danger">www.google.com <span class="glyphicon glyphicon-remove-sign"></span></p>
            <p class="bg-danger">google.com <span class="glyphicon glyphicon-remove-sign"></span></p>

    </p>
    <h2>Auto-Shorten</h2>
    <p>
        Auto shorten is a functionality that support user to get their support base on 62 base alg.
        the version on this is not been test yet, I provide source code and a input box for try.
        feel free to finish it.
    </p>



    <h2> Support </h2>
        <h3>Framework</h3>
            <h6>Django 1.9</h6>
        <h3>CSS JS</h3>
            <h6>Boostrap</h6>
        <h3>Server</h3>
            <h6>Heroku</h6>
        <h3>Project</h3>
            <p>whole project is on gitbhub,I public the repo, feel free to change and add new function in there</p>
            <p class="bg-danger">There are many version and database delpoy problem you may have, alway good to check the documentation <a href = "https://github.com/zhang435/ShortenURL" ><span href = "https://github.com/zhang435/ShortenURL" class="glyphicon glyphicon-download-alt"></span></a></p>






    </p>






{%endblock%}
