{%extends 'base.html'%}
<h1>Wlecom, {{user}}</h1>


<h3> Url table</h3>

{%block content%}

<table class="table table-bordered table-hover ">
    <thead >
        <tr class = "bg-info">
            <th class = "col-sm-1">#</th>
            <th class = "col-md-4">URL</th>
            <th class = "col-md-1">Shorten</th>
            <th class = "col-md-1"> Edit</th>
            <th class = "col-md-1"> remove</th>
        </tr>
    </thead>
    <tbody>
        {%for i in urls%}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href = {{i.url}}>{{i.url}}</a></td>
                <td>{{i.short}}</td>
                <form method="GET" , action="/editurl/">{% csrf_token %}
                    <input type="hidden" name="url" value= {{i.url}}>
                    <input type="hidden" name="short" value= {{i.short}}>
                    <td><button type="submit" class="btn btn-primary">Edit</button></td>
                </form>

                <form method="GET" , action="/removeurl/">{% csrf_token %}
                    <input type="hidden" name="url" value= {{i.url}}>
                    <input type="hidden" name="short" value= {{i.short}}>
                    <td><button type="submit" class="btn btn-danger">Remove</button></td>
                </form>


            </tr>
{%endfor%}

</tbody>
</table>
<h4> add new link into the database</h4>
<form method="GET" action= "/addurl/">{% csrf_token %}
    <button class = 'btn btn-primary' id="btn" type= "submit" value="Submit">add new URL</button>
</form>

{%endblock%}
